<html>
	<head>
		<title>Gwent</title>
		<style>
			@font-face {
				font-family: Witcher;
				src: url({{ url_for('static', filename='witcher.ttf') }});
			}
			body {
				background-color: #EEE7C2;
				font-family: Witcher;
				color: #053000;
				text-shadow: 1pt 1pt 1pt #CBFFCD;
			}
			button {
				border: 1pt solid;
				padding: 2pt 2pt;
				margin: 2pt;
				text-align: center;
				display: block;
				table-layout: fixed;
				font-size: 14pt;
				width: 30%;
				background-color: #DBFED7;
				font-family: Witcher;
				color: #053000;
				text-shadow: 1pt 1pt 1pt #CBFFCD;
			}
			table {
				background-color: #DBFED7;
				font-size: 16pt;
				bordercolor: #053000;
			}
		</style>
	</head>
	<body>
		<center>
		<div style="width:50%">
			{% if game.state == 0 %}
				<h1>Welcome to Gwent! Please select difficulty.</h1>
				<h2>Think twice: difficult opponents are, well, difficult to beat.</h2>
				<form action="/difficulty" method="post">
					<button type="submit" name="easy">Easy</button>
					<button type="submit" name="medium">Medium</button>
					<button type="submit" name="hard">Hard</button>
					<button type="submit" name="cheater">Basically a cheater</button>
				</form>
			{% elif game.state == 1 %}
				<h1>Now please select a fraction which your deck will belong to.</h1>
				<h2>This will define how your deck will be formed.</h2>
				<form action="/fraction" method="post">
					<button type="submit" name="north">The Northern Kingdoms</button>
					<button type="submit" name="nilfgaard">Nilfgaard</button>
				</form>
			{% else %}
				<h2>{{ manager.playerInterface2.state|safe }}</h2>
				
				<table border="1pt">
					<tr><td rowspan="3" style="font-size:30pt; text-align:center;">{{ manager.rowsInterface2.sum }}</td><td>Opponent's siege row</td><td>{{ manager.rowsInterface2.rowSums[2] }}</td><td>{{ manager.rowsInterface2.rows[2] }}</td></tr>
					<tr><td>Opponent's ranged row</td><td>{{ manager.rowsInterface2.rowSums[1] }}</td><td>{{ manager.rowsInterface2.rows[1] }}</td></tr>
					<tr><td>Opponent's melee row</td><td>{{ manager.rowsInterface2.rowSums[0] }}</td><td>{{ manager.rowsInterface2.rows[0] }}</td></tr>
					<tr><td rowspan="3" style="font-size:30pt; text-align:center;">{{ manager.rowsInterface1.sum }}</td><td>Your melee row</td><td>{{ manager.rowsInterface1.rowSums[0] }}</td><td>{{ manager.rowsInterface1.rows[0] }}</td></tr>
					<tr><td>Your ranged row</td><td>{{ manager.rowsInterface1.rowSums[1] }}</td><td>{{ manager.rowsInterface1.rows[1] }}</td></tr>
					<tr><td>Your siege row</td><td>{{ manager.rowsInterface1.rowSums[2] }}</td><td>{{ manager.rowsInterface1.rows[2] }}</td></tr>
				</table>
				
				<h2>{{ manager.playerInterface1.state|safe }}</h2>
				{% if game.state == 2 %}
					<form action="/play" method="post">
						{% for button in buttons %}
							{% if button[1] != None %}
								<button type="submit" name="unit" value="{{ button[0] }}">{{ button[1]|safe }}</button>
							{% endif %}
						{% endfor %}
					</form>
					<form action="/pass" method="post">
						<button type="submit" name="pass">Pass</button>
					</form>
					<form action="/restart" method="post">
						<button type="submit" name="restart">Restart</button>
					</form>
					<form action="/rules" method="post">
						<button type="submit" name="rules">What's even going on there?</button>
					</form>
				{% elif game.state == 3 %}
					<p>Opponent passed, the next turn will be your last!</p>
					<form action="/dismissPass" method="post">
						<button type="submit" name="ok">OK, got it</button>
					</form>
				{% elif game.state == 4 %}
					<p>Look, this fellow witcher Geralt of Rivia is on his way to find his stepdaughter Cirilla. Though the whole world's fate depends on his success, he chooses to play Gwent and collect cards, that's why he challenged you.
					</p>
					<p>
					Rules are not that difficult to understand: you are given some units which you play on the battlefield turn by turn, just like Geralt does. There are three types of units: simple unit with no special powers, commander who increases strength of each unit in his row by 1 (displayed with parentheses on the battlefield), and spy who draws 2 more cards from your deck for you (displayed with square brackets on the battlefield).
					</p>
					<p>
					A round ends when either you or your opponent chooses to pass turn without playing a unit. Once it happends, a player with a greater sum is declared a winner of the round. The one to win two rounds wins the game.</p>
					<form action="/dismissRules" method="post">
						<button type="submit" name="ok">Sounds simple!</button>
					</form>
				{% else %}
					<p>{{ game.message|safe }}</p>
					<form action="/continue" method="post">
						<button type="submit" name="ok">Sure thing!</button>
					</form>
					{% if game.state == 5 %}
					<form action="/restart" method="post">
						<button type="submit" name="restart">No, I would rather restart</button>
					</form>
					{% endif %}
				{% endif %}
			{% endif %}
		</center>
		</div>
	</body>
</html>
